* {
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.pro-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.body {
    padding: 50px;
    width: max-content;
    margin: 0 auto;
    margin-top: 100px;
}

.button {
    background-color: white;
    width: 600px;
    height: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(82, 82, 82);
    padding: 10px;
    margin: 10px;
}

input {
    outline: none;
    border: none;
    width: 500px;
}

.google {
    width: 300px;
    margin: 0 auto;
}

.para {
    margin: 20px 0;
    text-align: center;
}